@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

ul>li {
    list-style: none;
}

.main-container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

:root {
    --primary-text-color: #0F172A;
    --secoundry-text-color: #3B82F6;
    --card-color: #E5E7EB;
    --padding-inline-section: 20px;
}

header {
    position: fixed;
    width: 100%;
    background: #F8FAFC;
    top: 0;
    border-bottom: 1px solid #e5e7ebbd;
    font-family: Poppins, sans-serif;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    color: var(--primary-text-color);
    font-size: 37px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--secoundry-text-color);
}

.nav-btn {
    background-color: var(--secoundry-text-color);
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 14px;
    transition-duration: 400ms;
}

.nav-btn:hover {
    transform: scale(1.1);
}

.hero-section-color {
    background-color: #F8FAFC;
}

.hero-section {
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.hero-text h1 {
    font-size: 48px;
    color: #0F172A;
}

.hero-text h1 span {
    color: var(--secoundry-text-color);
}

.hero-text h2 {
    font-size: 28px;
    margin: 10px 0;
    color: var(--primary-text-color);
}

.hero-text p {
    font-size: 18px;
    max-width: 520px;
    color: var(--primary-text-color);
}

.hero-btn {
    display: flex;
    gap: 16px;
    margin-top: 15px;
}

.btn {
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
}

.btn.primary {
    background: #3B82F6;
    color: #fff;
}

.btn.secondary {
    border: 2px solid #3B82F6;
    color: #3B82F6;
}

.about {
    padding: 80px 20px;
    background: #ffffff;
}

.about-container {
    max-width: 800px;
    margin: auto;
}

.about h2 {
    font-size: 32px;
    color: #0F172A;
    margin-bottom: 20px;
}

.about p {
    font-size: 17px;
    color: #475569;
    line-height: 1.7;
    margin-bottom: 14px;
}

/* Skill */
.skill {
    padding: 80px 20px;
    background: #ffffff;
    max-width: 800px;
    margin: auto;
}

.skill>h2 {
    font-size: 32px;
    color: #0F172A;
    margin-bottom: 20px;
}

.skill-container {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.skill-container>.skill-card {
    background: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
    border-radius: 12px;
    width: 215px;
    height: 150px;
}